.no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.left {
  float: left;
  min-height: 1rem;
}
.center {
  width: 100%;
  text-align: center;
}
.middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.title {
  color: #fff;
  font-size: 34px;
  text-align: center;
  height: 74px;
  line-height: 66px;
}
.back {
  background: rgba(255, 255, 255, 0.1);
}
.pointerFilter {
  cursor: pointer;
}
.pointerFilter:hover {
  filter: brightness(50%);
}
